#finalLevel_wrapper
{
	width: 100%;
	height: 100%;

	position: absolute;

	left: 0; right: 0; top: 0; bottom: 0;
}

.finalLevel_part1, .finalLevel_part2
{
	width: 100%;
	height: 100%;

	position: absolute;

	left: 0; right: 0; top: 0; bottom: 0;
}

.sunnySky, .cloudySky
{
	width: inherit;
	height: inherit;

	position: absolute;
}

.tween-sunnySky
{
	-webkit-transition: 2600ms ease-in-out 400ms;
	transition: 2600ms ease-in-out 400ms;
}

.sunnySky_hide
{
	-webkit-transform: translateY(-40%);
	transform: translateY(-40%);
}

.sunnySky_show
{
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}

.tween-cloudySky
{
	-webkit-transition: 6s ease-in-out;
	transition: 6s ease-in-out;
}

.cloudySky_hide
{
	opacity: 0;

	-webkit-transform: translateY(-30%);
	transform: translateY(-30%);
}

.cloudySky_show
{
	opacity: 0.7;

	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}

.finalLevel_land, .finalLevel_far
{
	width: 100%;
	height: 100%;

	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;

/*	-webkit-transform: translateY(50%);
	transform: translateY(50%);*/
}

.tween-finalLevel
{
	-webkit-transition: 2000ms ease-in-out;
	transition: 2000ms ease-in-out;
}

.finalLevel_hide
{
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}

.finalLevel_show
{
	-webkit-transform: translateY(50%);
	transform: translateY(50%);
}

.finalLevel_drop
{
	-webkit-transform: translateY(70%);
	transform: translateY(70%);
}

.finalLevel_focus
{
	width: 320px;
	height: 100%;

	position: absolute;

	left: 0; right: 0; top: 0; bottom: 0;

	margin: 0 auto;
}

.finalLevel_focus .finalLevel_blankGround
{
	width: 160px;
	height: inherit;

	background: #e5eaa4;

	position: absolute;

	left: 0; right: 0; top: 0; bottom: 0;

	margin: 0 auto;
}

.finalLevel_waterFall
{
	width: 80px;
	height: inherit;

	position: absolute;

	left: 0; right: 0; top: 0; bottom: 0;

	margin: 0 auto;
}

.finalLevel_waterFall_step
{
	width: 80px;
	height: 80px;

	position: relative;
}

.finalLevel_waterFall_step .waterEdge
{
	width: 80px;
	height: 40px;

	position: absolute;

	left: 0;
	top: 4px;
}

.finalLevel_container_bossShadow
{
	width: 282px;
	height: 260px;

	position: absolute;

	left: 0; right: 0; top: 0; bottom: 0;

	margin: 0 auto;
}

.tween-finalLevel_container_bossShadow
{
	-webkit-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
}

.finalLevel_bossShadow_show
{
	opacity: 1;

	-webkit-transform: translateY(-160px);
	transform: translateY(-160px);
}

.finalLevel_bossShadow_hide
{
	opacity: 0;

	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}

.finalLevel_bossShadow
{
	width: inherit;
	height: inherit;
}

.tween-finalLevel_bossShadow
{
	-webkit-animation: tweenFinalLevelBossShadowFrames 1.8s ease-in-out infinite;
	animation: tweenFinalLevelBossShadowFrames 1.8s ease-in-out infinite;
}

@-webkit-keyframes tweenFinalLevelBossShadowFrames
{
	0%		{ -webkit-transform: translateY(0px); }
	50%		{ -webkit-transform: translateY(20px); }
	100%	{ -webkit-transform: translateY(0px); }
}

@keyframes tweenFinalLevelBossShadowFrames
{
	0%		{ transform: translateY(0px); }
	50%		{ transform: translateY(20px); }
	100%	{ transform: translateY(0px); }
}


.sun_move
{
	width: 384px;
	height: 384px;

	position: absolute;
}

.finalLevel_far .sun_move
{
	left: -192px;
}

.sun_inner
{
	width: inherit;
	height: inherit;
}

.finalLevelSun_hide
{
	opacity: 0.4;

	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}

.finalLevelSun_show
{
	opacity: 1;

	-webkit-transform: translateY(-400px);
	transform: translateY(-400px);
}

.finalLevelSun_drop
{
	opacity: 1;

	-webkit-transform: translateY(-800px);
	transform: translateY(-800px);
}

.finalLevelSun_evil
{
	opacity: 0;

	-webkit-transform: translateY(-800px);
	transform: translateY(-800px);
}

.tween-finalLevelSun
{
	-webkit-transition: 3s ease-out;
	transition: 3s ease-out;
}

.finalLevel_night
{
	width: 100%;
	height: 100%;

	position: absolute;

	background: rgba(0, 0, 0, 0.7);
}

.finalLevelNight_hide
{
	opacity: 0;
}

.finalLevelNight_evil
{
	opacity: 0.4;
}

.tween-finalLevelBossJump0
{
	-webkit-animation: tweenFinalLevelBossJump0Frames 400ms linear forwards;
	animation: tweenFinalLevelBossJump0Frames 400ms linear forwards;
}

@-webkit-keyframes tweenFinalLevelBossJump0Frames
{
	0%		{ -webkit-transform: translateY(-150px); }
	40%		{ -webkit-transform: translateY(-80px); }
	100% 	{ -webkit-transform: translateY(-300%); }
}

@keyframes tweenFinalLevelBossJump0Frames
{
	0%		{ transform: translateY(-150px); }
	40%		{ transform: translateY(-80px); }
	100% 	{ transform: translateY(-300%); }
}

#finalLevel-boss
{
	width: 320px;
	height: 280px;

	position: absolute;

	-webkit-transform: translateY(-260px);
	transform: translateY(-260px);
}

#finalLevel-boss .bossCont
{
	-webkit-transform: translateY(-200%);
	transform: translateY(-200%);
}

.finalBoss-arm-delay
{
	-webkit-transition-delay: 100ms !important;
	transition-delay: 100ms !important;
}

.tween-finalLevelBossJump1
{
	-webkit-animation: tweenFinalLevelBossJump1Frames 400ms linear forwards;
	animation: tweenFinalLevelBossJump1Frames 400ms linear forwards;
}

@-webkit-keyframes tweenFinalLevelBossJump1Frames
{
	0%		{ -webkit-transform: translateY(-200%); }
	40%		{ -webkit-transform: translateY(10%); }
	100% 	{ -webkit-transform: translateY(0%); }
}

@keyframes tweenFinalLevelBossJump1Frames
{
	0%		{ transform: translateY(-200%); }
	40%		{ transform: translateY(10%); }
	100% 	{ transform: translateY(0%); }
}

.tween-finalLevelBossJumpGround
{
	-webkit-animation: tweenFinalLevelBossJumpGroundFrames 600ms linear forwards;
	animation: tweenFinalLevelBossJumpGroundFrames 600ms linear forwards;
}

@-webkit-keyframes tweenFinalLevelBossJumpGroundFrames
{
	0%		{ -webkit-transform: translateY(50%); }
	40%		{ -webkit-transform: translateY(50%); }
	50% 	{ -webkit-transform: translateY(45%); }
	60% 	{ -webkit-transform: translateY(50%); }
	80%		{ -webkit-transform: translateY(45%); }
	100% 	{ -webkit-transform: translateY(50%); }
}

@keyframes tweenFinalLevelBossJumpGroundFrames
{
	0%		{ transform: translateY(50%); }
	40%		{ transform: translateY(50%); }
	50% 	{ transform: translateY(45%); }
	60% 	{ transform: translateY(50%); }
	80%		{ transform: translateY(45%); }
	100% 	{ transform: translateY(50%); }
}


#finalLevel_player
{
	width: 40px;
	height: 40px;

	position: absolute;

	left: 0; right: 0; top: 0; bottom: 0;

	margin: 40px auto 0 auto;
}

.finalLevel_mountain
{
	width: 280px;
	height: 90px;

	position: absolute;

	left: -280px;
	top: -80px;
}